body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

/* хэдер */
#ant-section__ant006_header {
    font-weight: 400;
    background: #fff;
    padding: 20px 0;
    position: relative;
    border-bottom:1px solid #ddd;
}

/* логотип */
.ant006_header-logo a {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

/* расположение меню */
.ant006_header-menu-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav.ant006_header-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

nav.ant006_header-container li a {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* секция - осн страница */
