<header>
    <div class="flex-container head">
        <div class="flex-item item1">
            <a href="{% url 'welcome' %}">
                <p>
                    <img src="{% static 'img/icon.png' %}" class="icon" align="left">
                    <h1 class="welcome">Hypercar<br>Service Center</h1>
                </p>
            </a>
        </div>
        <div class="flex-item item2">
            <a href="{% url 'welcome' %}">Main Page</a>
        </div>
        <div class="flex-item item3">
            <a href="{% url 'menu' %}">Services</a>
        </div>
        <div class="flex-item item4">
            <a href="{% url 'next_ticket' %}">Queue</a>
        </div>
    </div>
</header>