{% extends 'tickets/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/index_style.css">
{% endblock %}

{% block content %}
<div class="flex-container main">
    <div class="flex-item user-btn">
        <a href="/next/">
            <button class="button1">Check the queue</button>
        </a>
    </div>
    <div class="flex-item user-btn">
        <a href="/menu/">
            <button class="button2">Choose a service</button>
        </a>
    </div>
    <div class="flex-item operator-btn">
        <a href="/processing/">
            <button class="button3">OPERATOR MENU</button>
        </a>
    </div>
</div>
{% endblock %}