{% extends 'tickets/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/menu_style.css">
{% endblock %}

{% block content %}
{% load static %}
<div class="main">
    <div class="help"><br>HOW CAN WE HELP YOU?<br><br><br></div>

    <div class="flex-container services">
        <div class="flex-item srv-btn">
            <img src="{% static 'img/diagnostic.png' %}" class="serv">
            <div>DIAGNOSTIC</div>
            <div class="time">30 min</div><br>
            <a href="/get_ticket/diagnostic">
                <button class="button-srv-1">CHOOSE</button>
            </a>
        </div>
        <div class="flex-item srv-btn">
            <img src="{% static 'img/tire.png' %}" class="serv">
            <div>INFLATE TIRES</div>
            <div class="time">5 min</div><br>
            <a href="/get_ticket/inflate_tires">
                <button class="button-srv-2">CHOOSE</button>
            </a>
        </div>
        <div class="flex-item srv-btn">
            <img src="{% static 'img/oil.png' %}" class="serv">
            <div>CHANGE OIL</div>
            <div class="time">2 min</div><br>
            <a href="/get_ticket/change_oil">
                <button class="button-srv-3">CHOOSE</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
